<link href="~/Content/ChatStyles.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="~/Scripts/CompanyListings/CompanyListingsFunctions.js"></script>

<h2 id="CompanyNameDisplay">@ViewBag.CompanyName</h2>
<div class="hidden" id="companyUserName">@ViewBag.CompanyInfo.userName</div> 
<hr />

<div class="row">
    <div class="col-md-2">
        <b style="font-size:15px">Email:</b>
    </div>
    <div class="col-md-2">
        <span style="font-size: 15px;">@ViewBag.CompanyInfo.email</span>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-2">
        <b style="font-size:15px">Phone Number:</b>
    </div>
    <div class="col-md-1">
        <span style="font-size: 15px;">@ViewBag.CompanyInfo.phoneNumber</span>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <b style="font-size:15px">@ViewBag.CompanyName can be found at these locations:</b>
    </div>
</div>
<br />

@foreach (string location in ViewBag.CompanyInfo.locations)
{
    <div class="row">
        <div class="col-md-8 col-md-offset-1"> &#9679 @location</div>
    </div>
}
<hr />


<h3>@ViewBag.CompanyName's Reviews</h3>
<div style="height:400px; border-style:outset; overflow-y: scroll; overflow-x:hidden; padding-left:1em; padding-right:1em;">
    <br />
    @foreach (var review in ViewBag.Reviews)
    {
        <div style="border-radius:5px; box-shadow:2px 2px 2px 2px black; background-color:gainsboro;">
            <p style="padding-left:1em; font-size:16px;">@(review.UserName)</p>
            <p style="padding-left:2em;">stars: @(review.Stars)</p>
            <p style="padding-left:2em;">description: @(review.Review)</p>
            <p style="padding-left:2em;">@(review.TimeStamp)</p>
        </div>
        <br />
    }
</div>

<br/>
<input class="btn btn-default" type="button" value="Write Review" onclick="location.href='@Url.Action("ReviewCompany", "CompanyListings",  new { id = ViewBag.CompanyName } )'" />
<hr />

<br />
<h3>Start a conversation with @ViewBag.CompanyName</h3>

<div float:left">
    <textarea style="height:100px; width:500px;" class="messagetextarea" id="textUserMessage" placeholder="Enter your message here."></textarea>
</div>

<br />

<button class="btn btn-default" id="SendMessageButton">Send</button>

<hr />
<br />

